*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --verde: #33EC71;
    --preto: #000000;
    --amarelo: #EA9010;
    --cinza: #3C787E;
    --roxo: #820263;
}

body{
    background-color: var(--cinza);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--verde);
    font-size: 70px;
    padding: 30px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    height: calc(100vh - 60px);
    background-color: black;
}

#relogio{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 45vh;
    border-radius: 25px;
    border: 2px solid #ea8f1048;
    box-shadow: 0px 0px 30px #ea8f1071;
}

@media (min-width: 600px) {
    span{
        margin: 5px;
        font-size: 80px;
    }
}

@media (min-width: 700px) {
    span{
        margin: 10px;
        font-size: 90px;
    }
}

@media (min-width: 800px) {
    span{
        margin: 15px;
        font-size: 100px;
    }
}